body{
    background-image: url(imagen.jpg!d);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
form{
    background-color: white;
    margin-top: 80px;
    margin-left: 500px;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    width: 300px;
}
input,textarea{
    border: 0;
    outline: none;
    width: 280px;
}
.field{
    border: solid 1px #ccc;
    padding: 10px;
}
.field:focus{
    border-color: #18a383;
}
.centrar-cont{
    text-align: center;
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
a{
    border-radius: 3px;
    display: inline-block;
    background-color: #3c69c9;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
a:hover{
    background-color: #6692f1;
}
.btn-azul{
    color: white;
    background-color: #3c69c9;
}
.btn-azul:hover{
    background-color: #6692f1;
}
.btn-azul:active{
    background-color: #29962a;
}