body{
    background-image: url(imagen.jpg!d);
    background-size: cover;
}
iframe{
    margin-top: -500px;
    margin-left: 775px;
    width: 500px;
    height: 350px;
}
#img1, #img2, #img3, #img4{
    margin-left: 200px;
    margin-top: 200px;
}
#txt5{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-left: 775px;
    margin-right: 75px;
}
p{
    text-decoration: solid;
    background-color: white;
    border-radius: 5px;
    margin-right: 650px;
    padding: 50px;
    margin-left: 201px;
    margin-top: 200px;
}
h4{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.card{
    margin-left: 900px;
    margin-top: -710px;
}
.popup{
    background-color: rgba(128, 128, 128, 0.315);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 5px;
    padding: 5px;
}
#guarap{
    margin-left: 750px;
}

   