body{
    background-image: url(Fondo.png);
    background-size: cover;
}
img{
    border-color: rgba(255, 0, 0, 0.322);
    border-style: inset;
    border-radius: 20px;
}
h2{
    margin-left: 270px ;
    margin-top: -250px;
}
#a1,h4{
    margin-left: 270px;
}
div{
    margin-left: 740px;
    margin-top: -50px;
}
p{
 background-color: black;
 padding: 15px;
 border-radius: 20px;
 text-align: center;
}